@font-face {
  font-family: 'Nachertanie';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/nach.ttf')  format("truetype");
}

@font-face {
  font-family: 'DecText';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/dec-text.ttf')  format("truetype");
}

body, h1, h2, h3, h4, h5 {
  margin: unset;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: top 0.3s;
  z-index: 1000;
}

header.hidden {
  top: -100px;
}

.burger-menu {
  position: relative;
  left: -35px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
}

.burger-menu .line {
  width: 25px;
  height: 3px;
  background: black;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  z-index: 900;
}

#nav {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  z-index: 1000;
}

#nav.active {
  right: 0;
}

#nav.active + #overlay {
  opacity: 1;
  visibility: visible;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  text-align: center;
  padding: 1rem;
}

nav ul li a {
  font-family: "DecText", 'Roboto', serif;
  font-size: 24px;
  color: black;
  text-decoration: none;
  display: block;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 4rem;
  cursor: pointer;
  color: black;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ordinary-section {
  position: relative;
  padding-top: 150px;
  padding-bottom: 180px;
  background-color: white;
}

.ordinary-section::before {
  content: '';
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 2px;
  background-color: black;
}

.ordinary-section::after {
  content: '';
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 2px;
  background-color: black;
}

.section-title {
  text-align: center;
  font-family: 'Nachertanie', 'Roboto', serif;
  font-size: 100px;
  line-height: 108px;
  font-weight: 400;
}

.dec-text {
  font-family: "DecText", 'Roboto', serif;
  margin: unset;
}

.nach {
  font-family: 'Nachertanie', 'Roboto', serif;
}

.container {
  width: calc(100% - 24px);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  background-color: gray;
  background-image: url('/images/photofin.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 68px;
}

.intro img {
  position: absolute;
  width: 100%;
}

.and {
  font-weight: 400;
  font-style: normal;
}

.intro-title {
  position: relative;
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  color: white;
  margin-top: 60vh;
  text-align: center;
  white-space: no-wrap;
}

.intro-date {
  position: relative;
  font-size: 38px;
  line-height: 42px;
  color: white;
}

.separator {
  position: relative;
  width: 250px;
  height: 3px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: white;
}

.invite-text {
  font-family: 'DecText', 'Roboto', serif;
  margin-top: 48px;
  font-size: 28px;
  line-height: 36px;
  color: black;
  text-align: center;
  font-weight: 400;
}

.invite-date {
  margin-top: 36px;
  font-size: 96px;
  line-height: 106px;
  text-align: center;
}

.invite-place {
  margin-top: 24px;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
}

.place-image {
  width: 100%;
}

.map-wrapper {
  width: 100%;
  margin-top: 64px;
}

.calendar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  margin-top: 32px;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  line-height: 36px;
}

.day.hidden {
  color: white;
}

.day.day-heart {
  position: absolute;
  top: 97px;
  left: 200px;
  background-image: url('./images/heart.svg');
}

.scale {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 430px;
  margin-top: 32px;
}

.scale-item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.scale-item:not(:first-of-type) {
  padding-top: 100px;
}

.scale-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 180px;
  height: 100%;
  width: 2px;
  background-color: black;
}

.scale-item:first-of-type::before,
.scale-item:last-of-type::before {
  height: 75%;
}

.scale-item:first-of-type::before {
  top: unset;
  bottom: 0;
}

.scale-image {
 
  
}

.plan-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
  gap: 10px;
  align-items: center;
}

.text-time {
  font-family: 'Nachertanie', 'Roboto', serif;
  font-size: 62px;
  line-height: 40px;
}

.text-title {
  position: relative;
  width: 209px;
  font-family: "DecText", 'Roboto', serif;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}

.text-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: -49px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.scale-item:first-of-type .text-title::before {
  top: -8px;
}

.scale-item:last-of-type .text-title::before {
  top: 55px;
}

.text-body {
  font-family: 'Roboto', serif;
  font-style: italic;
  font-size: 16px;
  line-height: 22px;
}

